.header{
    background: url(../images/webdev.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
  }
.card{
    height: 400px;
}
.card-image{
    height: 200px;
    width : 200px;
}
.card-title{
    font-weight: bold;
    font-size: 10px;
}
.card-content{
    font-size: 14px;
}